.container-headergame {
    height: 100px;
    width: 100%;
}

.text-headergame { 
    color: black; 
    font: 20px "Lato", Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
    word-wrap: break-word; 
}